@font-face {
  src: url(fonts/ZillaSlab-Regular.ttf);
  font-family: ZillSlab;
}

body {
  background-color: black;
  background-image: url(https://s3-alpha.figma.com/hub/file/2229556371371593931/8ee26938-643e-42f2-b485-b45f13ca63b3-cover.png);
  background-position: center;
  background-repeat: no-repeat;
}
.h1 {
  font-family: ZillSlab;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 8rem;
  padding-top: 2rem;
  color: white;
}

.p1 {
  font-family: ZillSlab;
  color: white;
  font-size: 3rem;
  /*border-bottom: solid;*/
  text-align: center;
}

.image {
  display: block;
  width: 15rem;
  height: 20rem;
  border-radius: 1.5rem;
  margin: 0 auto;
  border-style: solid;
  border-color: white;
}
.h2 {
  color: teal;
  font-family: ZillSlab;
}

.hidden {
  display: none;
}
.show-modal1 {
  gap: 15rem;
  justify-content: center;
  display: flexbox;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png);
  background-position: center center;
  justify-content: center;
  background-size: 15rem 15rem;
  background-repeat: no-repeat;
  width: 15rem;
  height: 15rem;
  border-radius: 1.5rem;
}

.show-modal1:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.show-modal2 {
  justify-content: center;
  gap: 15rem;
  display: flexbox;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg);
  justify-content: center;
  background-position-y: 9px;
  background-size: 14rem 14rem;
  background-repeat: no-repeat;
  width: 15rem;
  height: 15rem;
  border-radius: 1.5rem;
}

.show-modal2:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.show-modal3 {
  gap: 15rem;
  justify-content: center;
  display: flexbox;
  background-image: url(https://www.w3.org/html/logo/downloads/HTML5_1Color_Black.png);
  justify-content: center;
  background-size: 15rem 15rem;
  background-repeat: no-repeat;
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
}

.show-modal3:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-image: url(https://wallpaperbat.com/img/313491-javascript-wallpaper-top-free-javascript-background.png);
  background-position: center center;
  justify-content: center;
  padding: 6rem;
  border-radius: 5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-image: url(https://wallpaperbat.com/img/313491-javascript-wallpaper-top-free-javascript-background.png);
  background-position: center center;
  justify-content: center;
  padding: 6rem;
  border-radius: 5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-image: url(https://wallpaperbat.com/img/313491-javascript-wallpaper-top-free-javascript-background.png);
  background-position: center center;
  justify-content: center;
  padding: 6rem;
  border-radius: 5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(50rem);
  z-index: 5;
}
